.testimonials-section {
  padding: 80px 60px;
  text-align: center;
}

.testimonials-section h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.review-card {
  margin: 0 auto;
  margin-top: 30px;
  width: 600px;
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.stars {
  color: gold;
  font-size: 24px;
  margin-bottom: 10px;
}

.text {
  font-style: italic;
  color: #444;
  margin-bottom: 20px;
}

.user {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
